<h2 id="title">Welcome to Ember</h2>

<!-- app/templates/application.hbs -->
<div class="container">
  
    <div class="page-header">
      <h1>Rock &amp; Roll<small> with Ember.js</small></h1>
    </div>
    
      <<!-- div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>{{link-to "Bands" "bands"}}</li>
          <li>{{link-to "Songs" "songs"}}</li>
        </ul>
      </div> -->
    
    {{outlet}}

</div>